.flex-container {
  display: flex;
  font-family: 'Gugi', cursive;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #c90f0f, #fdd41d, #86db5e);
}

.flex-container > div {
  background-color: #f1f1f1;
  width: 150px;
  height: 150px;
  margin: 10px;
  border-radius: 30%;
  text-align: center;
  line-height: 150px;
  font-size: 30px;
  font-family: 'Gugi', cursive;

}

#temp1 {
  font-family: 'Gugi', cursive;
  width: 230px;
  height: 230px;
  border-radius: 50%;
  line-height: 75px;
}

#temp_text {
  font-family: 'Gugi', cursive;
  font-size: 50px;
}

#powersavebox {
  font-family: 'Gugi', cursive;
  background-color: green;
}

#hotterbutton {
  font-size: 150px;
}

button.link {
  background: none;
  border: none;
  font-family: 'Gugi', cursive;
  font-size: 30px;

}

#powersave-box {
  font-family: 'Gugi', cursive;
  height: 40px;
  width: 40px;
  line-height: 40px;
  margin-bottom: 10px;
}

.center {
    line-height: 200px;
    height: 200px;
    border: 3px solid green;
    text-align: center;
}
